//out:index.css
.input-group
  width 100%
  .form-control
    width 100%
    border-radius 10px !important
    font-family monospace
webview
  display inline-flex
  position absolute
  width 100%
  bottom 58px
  left 0
  right 0
  top 58px
