//output:new.html
doctype html
html
  head
    meta(charset='utf8')
    title New Tab - Shift
    link(rel='stylesheet' href='bootstrap.css')
  body
    .container
      h1 Shift
      hr
      h2 Text Commands
      pre.
        h {url}     open url w/ http prefix
        H {url}     open url w/o http prefix
        u           current page url
        s {query}   web search
        <           go back
        >           go forward
        r           reload/stop
        d           devtools
        f {query}   find in page
        fc {query}  find in page (match case)
        p           print page
        n           new tab
        [           move to left tab
        ]           move to right tab
        x           close tab
        ;           separates multiple commands
